# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Backend
target/

*.iml
.idea
.idea/*
.DS_Store
back-end/.classpath
back-end/.project
back-end/.settings

# Please uncomment this when changes are made to Constant.java except APP_ID and APP_SECRET
back-end\src\main\java\com\config\Constant.java
